{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Главная страница{% endblock %}
{% block content %}

{% include 'head.html' %}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Регистрация</button>
                <br><br>
            </form>
        </div>
    </div>
</div>
{% endblock %}